body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #f7d0e9,
        #f589cd
    );
}


.login-container {

    width: 380px;

    background: white;

    padding: 40px;

    border-radius: 35px;

    text-align: center;

    box-shadow:
    0 15px 35px #ba5f9a;

}


h1 {

    color: #ba5f9a;

    font-size: 45px;

}


h2 {

    color: #d67cb5;

}


.subtitle {

    color: #ba5f8b;

}


.card {

    background: #f7d0e9;

    margin-top: 20px;

    padding: 20px;

    border-radius: 25px;

}


input {

    width: 85%;

    padding: 12px;

    border-radius: 20px;

    border: 2px solid #f792c0;

}


button {

    margin-top: 15px;

    padding: 12px 25px;

    border-radius: 25px;

    border: none;

    background: #f589cd;

    color: white;

    cursor: pointer;

}


button:hover {

    background: #d16faf;

    transform: scale(1.05);

}


.coming {

    background: #f7d0e9;

}
