*{
box-sizing:border-box;
}


body{

margin:0;

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:
Arial,
sans-serif;

background:
linear-gradient(
135deg,
#f7d0e9,
#f589cd
);

overflow:hidden;

}



.login-container{

width:390px;

padding:40px;

background:#ffffff;

border-radius:35px;

text-align:center;

box-shadow:
0 15px 35px rgba(186,95,154,0.35);

}



h1{

font-size:45px;

color:#ba5f9a;

}



h2{

color:#d67cb5;

}



.subtitle{

color:#ba5f8b;

}



.portal-card{

background:#f7d0e9;

margin-top:25px;

padding:25px;

border-radius:25px;

border:3px solid #db91c1;

}



.portal-card h3{

color:#ba5f77;

}



input{

width:90%;

padding:13px;

border-radius:25px;

border:none;

outline:none;

background:white;

border:2px solid #f792c0;

}



button{

margin-top:15px;

padding:13px 25px;

border:none;

border-radius:30px;

background:#f589cd;

color:white;

font-size:15px;

cursor:pointer;

transition:.3s;

}



button:hover{

background:#d16faf;

transform:scale(1.05);

}



.worker{

background:#f7d0e9;

}



.worker p{

color:#ba5f77;

font-weight:bold;

}



/* floating sparkle effect */

.sparkles:before{

content:"✨ 🎀 ✨ 🎀 ✨";

position:absolute;

top:20px;

left:20px;

font-size:25px;

opacity:.7;

}
